DB_HOST=localhost
DB_PORT=57432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=bravo_dev
NODE_ENV=local
LOG_LEVEL=debug
JWT_SECRET=husky
JWT_EXPIRATION=7d
JWT_REFRESH_SECRET=huskey2
JWT_REFRESH_EXPIRATION=30d
ASYNC_JOBS_CRON_ENABLED=false
ASYNC_JOBS_CRON_LIMIT=10